body{
    font-family: Tahoma;
    font-size: 12px;
    background-color: black;
    margin: 0px;
}

audio{
    height: 20px;
    width: 850px;
    border: 0px solid;
    float: right;
}
#banner{
    font-size: xx-large;
    text-align: center;
    background-image: url(banner.gif);
    line-height: 28px;
    padding: 50px;
    border: 0px solid;
    border-color:red;
    color: white;
}

#menu{
    float: left;
    font-size: x-large;
    text-align: center;
    background-image: url(menu.jpg);
    border: 0px solid;
    border-color: #0A2540;
    width: 150px;
}

#icerik{
    float: center;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #BBDEFB;
    border: 0px solid;
    border-color: #810239;
    height: 850px;
}

#menu a{
    line-height: 290px;
    color: white;
    text-decoration: none;
}

#menu a:hover{
    font-size: 30px;
    text-decoration: none;
    color: wheat;
}

#menu a:visited:hover{
    font-size: 30px;
    text-decoration: none;
    color: wheat;
}

#menu a:visited{
    line-height: 150px;
    color: white;
    text-decoration: none;
}